.cases-section {
  padding-top: 40px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.cases-container {
  @include media(desktop) {
  }
}

.cases-title {
  @include media(desktop) {
  }
}

.cases-subtitle {
  @include media(desktop) {
  }
}

.cases-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
}

.cases-list-item {
  background: #10141d;
  border-radius: 8px;
  padding: 24px 32px;
  width: 100%;
  max-width: 343px;
  min-height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;

  @include media(desktop) {
    max-width: 544px;
    min-height: 240px;
  }
}

.cases-item-text-wrapper {
  max-width: 167px;

  @include media(desktop) {
    max-width: 304px;
  }
}

.cases-list-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 28px;
  }
}

.cases-list-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
  }
}

.cases-icon {
  min-width: 96px;

  @include media(desktop) {
    min-width: 160px;
    width: 160px;
    height: 160px;
  }
}
