.footer {
  background: #376ffe;
  padding-top: 40px;
  padding-bottom: 16px;

  @include media(desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footer-container {
}

.footer-top-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
  }
}

.footer-email-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.footer-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  text-align: right;
  color: #fff;

  @include media(desktop) {
    font-size: 12px;
  }
}
