.header {
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.header-container {
}

.nav {
  backdrop-filter: blur(16px);
  background: rgba(38, 255, 244, 0.5);
  border-radius: 8px;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    padding: 4px 32px 4px 8px;
  }
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
    gap: 12px;
  }
}

.header-span {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #10141d;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 26px;
  }
}

.nav-list-link {
  padding: 2px 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #10141d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
  }
}

.nav-list-link.active {
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #10141d;
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
