.hero-section {
  padding-top: 88px;

  @include media(desktop) {
    padding-top: 60px;
  }
}

.hero-container {
}

.hero-content-wrapper {
  padding-top: 20px;
  padding-bottom: 80px;
  border-radius: 8px;
  background: url(../img/hero/hero-bg-mob.png),
    linear-gradient(180deg, #bffffc 0%, #f4f7ff 100%);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 60px;
    background: url(../img/hero/hero-bg-desk.png),
      linear-gradient(180deg, #bffffc 0%, #f4f7ff 100%);
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #10141d;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 64px;
  }
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #10141d;
  max-width: 327px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 513px;
    margin-bottom: 64px;
  }
}

.hero-btn {
  background: #376ffe;
  border-radius: 24px;
  padding: 12px 24px;
  width: 100%;
  max-width: 256px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
    background: #10141d;
  }

  @include media(desktop) {
    &:hover {
      background: #10141d;
    }
  }
}
