<section class="section cases-section" id="cases">
  <div class="container cases-container">
    <div class="title-wrapper">
      <h2 class="section-title cases-title">USE CASES</h2>
    </div>
    <p class="section-subtitle cases-subtitle">
      Flexible solutions for every sector.
    </p>
    <ul class="cases-list">
      <li class="cases-list-item">
        <div class="cases-item-text-wrapper">
          <h3 class="cases-list-item-title">E-commerce</h3>
          <p class="cases-list-item-text">
            real-time sales & customer analytics
          </p>
        </div>
        <svg class="cases-icon" width="96" height="96">
          <use href="./img/sprite.svg#icon-appsales"></use>
        </svg>
      </li>
      <li class="cases-list-item">
        <div class="cases-item-text-wrapper">
          <h3 class="cases-list-item-title">Finance</h3>
          <p class="cases-list-item-text">fraud detection & risk monitoring</p>
        </div>
        <svg class="cases-icon" width="96" height="96">
          <use href="./img/sprite.svg#icon-finance"></use>
        </svg>
      </li>
      <li class="cases-list-item">
        <div class="cases-item-text-wrapper">
          <h3 class="cases-list-item-title">Healthcare</h3>
          <p class="cases-list-item-text">secure patient data dashboards</p>
        </div>
        <svg class="cases-icon" width="96" height="96">
          <use href="./img/sprite.svg#icon-healthcare"></use>
        </svg>
      </li>
      <li class="cases-list-item">
        <div class="cases-item-text-wrapper">
          <h3 class="cases-list-item-title">Logistics</h3>
          <p class="cases-list-item-text">live supply chain visibility</p>
        </div>
        <svg class="cases-icon" width="96" height="96">
          <use href="./img/sprite.svg#icon-breeze"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
