<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="title-wrapper contact-title-wrapper">
        <h2 class="section-title contact-title">CONTACT</h2>
      </div>
      <p class="section-subtitle contact-subtitle">We’re here to help.</p>
      <p class="contact-text">
        Live Chat widget (instant support from Milan HQ)
      </p>
      <ul class="contact-list">
        <li class="contact-list-item">
          <p class="contact-item-text">Email:&nbsp;</p>
          <a href="mailto:info@infobaselab.space" class="contact-item-link"
            >info@infobaselab.space</a
          >
        </li>
        <li class="contact-list-item">
          <p class="contact-item-text">
            Info Lab LLC, Via Monte Napoleone 12, Milan, Italy
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
