<section class="section features-section" id="features">
  <div class="container features-container">
    <div class="title-wrapper">
      <h2 class="section-title features-title">FEATURES</h2>
    </div>
    <p class="section-subtitle features-subtitle">
      Why organizations choose Info Lab.
    </p>
    <ul class="features-list">
      <li class="features-list-item">
        <p class="features-list-item-text">
          <span class="features-item-span">99.99</span>%<br />
          uptime guarantee
        </p>
      </li>
      <li class="features-list-item">
        <p class="features-list-item-text">
          API-first<br />
          and modular system
        </p>
      </li>
      <li class="features-list-item">
        <p class="features-list-item-text">
          Built-in compliance<br />
          and security tools
        </p>
      </li>
      <li class="features-list-item">
        <p class="features-list-item-text">
          Cross-device<br />
          synchronization
        </p>
      </li>
    </ul>
  </div>
</section>
