<section class="section features-section" id="features">
  <div class="container features-container">
    <h2 class="section-title features-title">Features</h2>
    <p class="section-subtitle features-subtitle">
      Why companies switch to CloudHubOn
    </p>
    <div class="features-list-wrapper">
      <img
        class="features-img"
        src="./img/features/features-img-desk.png"
        alt="Woman working"
        width="196"
        height="232"
        loading="lazy"
      />
      <ul class="features-list">
        <li class="features-list-item">
          <p class="features-list-item-text">99.99% uptime guarantee</p>
        </li>
        <li class="features-list-item">
          <p class="features-list-item-text">API-first architecture</p>
        </li>
        <li class="features-list-item">
          <p class="features-list-item-text">
            Built-in security & compliance checks
          </p>
        </li>
        <li class="features-list-item">
          <p class="features-list-item-text">Multi-device synchronization</p>
        </li>
        <li class="features-list-item">
          <p class="features-list-item-text">
            Data visualization with drag & drop
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
