<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#platform">Platform</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features">Features</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#cases">Use Cases</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Pricing</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
