<section class="section platform-section" id="platform">
  <div class="container platform-container">
    <div class="title-wrapper">
      <h2 class="section-title platform-title">PLATFORM OVERVIEW</h2>
    </div>
    <p class="section-subtitle platform-subtitle">Your data, one secure lab.</p>
    <ul class="platform-list">
      <li class="platform-list-item">
        <svg class="check-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-check"></use>
        </svg>
        <p class="platform-item-text">Unified dashboard for data management</p>
      </li>
      <li class="platform-list-item">
        <svg class="check-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-check"></use>
        </svg>
        <p class="platform-item-text">
          Secure authentication & role-based access
        </p>
      </li>
      <li class="platform-list-item">
        <svg class="check-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-check"></use>
        </svg>
        <p class="platform-item-text">Automated report builder</p>
      </li>
      <li class="platform-list-item">
        <svg class="check-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-check"></use>
        </svg>
        <p class="platform-item-text">
          Multi-language, GDPR-compliant infrastructure
        </p>
      </li>
    </ul>
  </div>
</section>
