<section class="section pricing-section" id="pricing">
  <div class="container pricing-container">
    <div class="title-wrapper">
      <h2 class="section-title pricing-title">PRICING</h2>
    </div>
    <p class="section-subtitle pricing-subtitle">
      Choose a plan that scales with your needs.
    </p>
    <ul class="pricing-list">
      <li class="pricing-list-item">
        <h3 class="pricing-list-item-title">Starter</h3>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <p class="pricing-features-item-text">2 integrations</p>
          </li>
          <li class="pricing-features-item">
            <p class="pricing-features-item-text">10 GB storage</p>
          </li>
        </ul>
        <p class="pricing-list-item-price">
          €49<span class="pricing-item-span">/month</span>
        </p>
      </li>
      <li class="pricing-list-item">
        <h3 class="pricing-list-item-title">Growth</h3>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <p class="pricing-features-item-text">unlimited integrations</p>
          </li>
          <li class="pricing-features-item">
            <p class="pricing-features-item-text">200 GB storage</p>
          </li>
        </ul>
        <p class="pricing-list-item-price">
          €149<span class="pricing-item-span">/month</span>
        </p>
      </li>
      <li class="pricing-list-item">
        <h3 class="pricing-list-item-title">Enterprise</h3>
        <ul class="pricing-features-list">
          <li class="pricing-features-item">
            <p class="pricing-features-item-text">
              SLA + dedicated infrastructure
            </p>
          </li>
        </ul>
        <p class="pricing-list-item-price">custom</p>
      </li>
    </ul>
  </div>
</section>
